#li
{
  text-decoration: none;
  list-style: none;
}
#login
{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background: linear-gradient(
      0deg,
      rgb(205, 241, 249) 19%,
      rgb(146, 189, 254) 100%
    );
	border-radius: 8px;
	
}
#login_page
{
	background-color: rgb(198, 221, 239);
}

#navbar
{
	background-color: rgb(63, 217, 252);
	border: 2px;
    border-radius: 0px 0px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#card
{
	background-color: rgb(215, 231, 245);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pop
{
	background-color: rgb(215, 231, 245);
}